# Loot Function accessors
public net.minecraft.world.level.storage.loot.functions.LootingEnchantFunction f_80776_ # value
public net.minecraft.world.level.storage.loot.functions.SetItemCountFunction f_80997_ # value
public net.minecraft.world.level.storage.loot.functions.ApplyBonusCount f_79899_ # enchantment
public net.minecraft.world.level.storage.loot.functions.EnchantRandomlyFunction f_80415_ # enchantments
public net.minecraft.world.level.storage.loot.functions.LootingEnchantFunction f_80777_ # limit

# Loot Condition accessors
public net.minecraft.world.level.storage.loot.predicates.AlternativeLootItemCondition f_81468_ # terms
public net.minecraft.world.level.storage.loot.predicates.LootItemEntityPropertyCondition f_81847_ # entityTarget
public net.minecraft.world.level.storage.loot.predicates.EntityHasScoreCondition f_81616_ # entityTarget
public net.minecraft.world.level.storage.loot.predicates.InvertedLootItemCondition f_81681_ # term
public net.minecraft.world.level.storage.loot.predicates.MatchTool f_81993_ # predicate
public net.minecraft.world.level.storage.loot.predicates.WeatherCheck f_82056_ # isRaining
public net.minecraft.world.level.storage.loot.predicates.WeatherCheck f_82057_ # isThundering
public net.minecraft.world.level.storage.loot.predicates.BonusLevelTableCondition f_81507_ # enchantment
public net.minecraft.world.level.storage.loot.predicates.LootItemRandomChanceWithLootingCondition f_81953_ # percent
public net.minecraft.world.level.storage.loot.predicates.LootItemRandomChanceWithLootingCondition f_81954_ # lootingMultiplier
public net.minecraft.world.level.storage.loot.predicates.LootItemRandomChanceCondition f_81921_ # probability

# Loot Entry accessors
public net.minecraft.world.level.storage.loot.entries.LootItem f_79564_ # item
public net.minecraft.world.level.storage.loot.entries.LootPoolSingletonContainer f_79677_ # functions
public net.minecraft.world.level.storage.loot.entries.LootPoolSingletonContainer f_79675_ # weight
public net.minecraft.world.level.storage.loot.entries.LootPoolSingletonContainer f_79676_ # quality
public net.minecraft.world.level.storage.loot.entries.TagEntry f_79821_ # tag
public net.minecraft.world.level.storage.loot.entries.LootTableReference f_79754_ # name
public net.minecraft.world.level.storage.loot.entries.LootPoolEntryContainer f_79636_ # conditions

# Loot Pool accessors
public net.minecraft.world.level.storage.loot.LootPool f_79026_ # functions

# Loot Table accessors
public net.minecraft.world.level.storage.loot.LootTable f_79110_ # functions

# Other accessors
public net.minecraft.world.level.storage.loot.providers.number.ConstantValue f_165688_ # value
public net.minecraft.world.level.storage.loot.providers.number.UniformGenerator f_165774_ # min
public net.minecraft.world.level.storage.loot.providers.number.UniformGenerator f_165775_ # max
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate f_74483_ # entityInfoList
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate f_74482_ # palettes
public net.minecraft.advancements.critereon.ItemPredicate f_45029_ # tag
public net.minecraft.advancements.critereon.ItemPredicate f_151427_ # items
public net.minecraft.world.level.storage.loot.providers.number.ScoreboardValue f_165742_ # score
public net.minecraft.world.level.storage.loot.providers.number.ScoreboardValue f_165743_ # scale
public net.minecraft.world.item.AxeItem f_150683_ # STRIPPABLES

# Entity accessors
public net.minecraft.world.entity.npc.VillagerTrades$TreasureMapForEmeralds
public net.minecraft.world.entity.npc.VillagerTrades$TreasureMapForEmeralds f_35805_ # emeraldCost
public net.minecraft.world.entity.npc.VillagerTrades$TreasureMapForEmeralds f_35808_ # maxUses
public net.minecraft.world.entity.npc.VillagerTrades$TreasureMapForEmeralds f_35809_ # villagerXp

# Crafting accessors
public net.minecraft.world.item.crafting.ShapedRecipe m_44196_(Lcom/google/gson/JsonArray;)[Ljava/lang/String; # patternFromJson
public net.minecraft.world.item.crafting.ShapedRecipe m_44186_([Ljava/lang/String;)[Ljava/lang/String; # shrink

# Rendering accessors
public net.minecraft.client.renderer.texture.TextureAtlasSprite f_174725_ # animatedTexture
public net.minecraft.client.renderer.texture.TextureAtlasSprite$AnimatedTexture f_174748_ # frame
public net.minecraft.client.renderer.texture.TextureAtlasSprite$AnimatedTexture f_174749_ # subFrame
public net.minecraft.client.renderer.texture.TextureAtlasSprite$AnimatedTexture
public net.minecraft.client.renderer.texture.TextureAtlasSprite$AnimatedTexture f_174750_ # frames
public net.minecraft.client.renderer.texture.TextureAtlasSprite$FrameInfo
public net.minecraft.client.renderer.texture.TextureAtlasSprite$FrameInfo f_174772_ # time